body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-image: url("https://ik.imagekit.io/rke8bxu72/lmt-template-banner.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1672823388687");
  }
  
  section {
    background-color: #ffff;
    border: solid black 1px;
  }
  
  .hero {
    height: 100vh;
    background-color: #000;
    color: white;
    font-size: 25px;
    background-image: url("https://ik.imagekit.io/rke8bxu72/lmt-template-banner.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1672823388687");
  }
  
  /* footer */
  footer {
    color: white;
    text-align: center;
    padding: 40px;
    height: min-content;
    background-color: rgb(32, 31, 31);
    color: white;
    align-items: center;
  }
  .copyright {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .cont {
    margin-top: 20px;
    font-family: Poppins;
    text-align: center;
  }
  
  .social-buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-buttons button {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 20%;
    font-size: 23px;
    margin: 20px;
    justify-content: center;
  }
  
  /* footer end */
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
  }
  
  li {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  
  h1 {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 90px;
  }
  
  h2 {
    font-size: 50px;
  }
  
  p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
  }
  
  .subtext {
    font-size: 15px;
    font-weight: 300;
  }
  
  .hero-area {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  .hero-text {
    margin-left: 60px;
    margin-top: 70px;
    height: 100%;
    justify-content: end;
  }
  
  .button {
    width: 125px;
    height: 35px;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    margin-top: 20px;
  }
  
  .socials {
    padding-bottom: 200px;
  }
  
  .logo {
    height: 80px;
    margin: 30px;
  }
  .social {
    margin: 20px;
  }
  
  .sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
  }
  
  .sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
  }
  
  .headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
  }
  
  .headshot-container {
    display: flex;
    align-items: center;
  }
  
  .information {
    margin-left: 20px;
  }
  
  .photo {
    width: 240px;
    height: 250px;
    border-radius: 120px;
    border-color: #6f706d;
    box-shadow: 10px 10px 50px grey;
  }
  
  .project-card {
    width: 300px;
    height: 450px;
    border: 1px solid #a9a9a9;
    margin: 10px;
    margin-left: 10px;
    border-radius: 35px;
  }
  
  /* project */
  .project-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .project-image {
    margin-top: 25px;
    width: 150px;
    border-radius: 1px;
    box-shadow: 1px 1px 5px black;
  }
  .project-info h3 {
    margin-left: 10px;
    font-size: 22px;
    font-family: Poppins;
  }
  
  .project-info p {
    margin-left: 10px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
  }
  .project-info sub-view {
    justify-content: center;
  }
  .pr-btns {
    display: flex;
    justify-content: end;
  }
  .prj-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #395b64;
    border-radius: 25%;
    font-size: 20px;
    margin: 10px;
    background-color: white;
    justify-content: center;
  }
  

  /* project end */
  
  hr {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .project-link {
    text-decoration: none;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  .abt-btn {
    color: black;
    font-size: 1rem;
    text-align: center;
  }
  
